* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.product-choose {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 110px;
  left: 217px;
  top: 220px;
  text-align: center;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform:  uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px ;
}

.product-compound-item {
  margin-left: 14px;
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  width: 1110px;
  margin: auto;
  position: relative;
}

.background-flowers {
  background-image: url("/product-card/img/bg-flower.png");
  background-repeat: no-repeat;
  background-size: 790px;
  width: 790px;
  height: 697px;
  position: absolute;
  z-index: -1;
  left: 0px;
  bottom: 900px;
}

.non-marker {
  list-style-type: none;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}